.dropdown {
    label {
        display: block;
        margin-bottom: 5px;
    }

    select {
        height: 34px;
        font-size: 16px;

        &:focus {
            outline: rgb(0, 168, 107) solid 2px;
          }
    }
}