form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.row {
    display: flex;
}

.field label {
    display: block;
}

.address {
    position: relative;
}

.address-options {
    position: absolute;
    background-color: grey;
    cursor: pointer;
}